@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .font-semibold {
    font-weight: 430;
  }
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;
  border: 2px solid;
}
/* styles.css */
.custom-markdown-viewer {
  max-height: 200px !important;
  overflow-y: auto !important;
}
.loader::before {
  content: "";
  position: absolute;
  inset: -48px;
  --c:conic-gradient(from 180deg at 50% calc(100% - 2px),#ffffff 90deg, #ffffff00 0);
  background: var(--c),var(--c);
  background-position: 0 0,8px 0;
  background-size: 16px 9.6px;
  animation: l16 2s infinite;
}
@keyframes l16 {
  50%  {background-position: 0 -9.6px ,8px 9.6px; transform:rotate(90deg)}
  100% {background-position: 0 -19.2px,8px 19.2px;transform:rotate(180deg)}
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "~@uiw/react-markdown-editor/markdown-editor.css";

@layer utilities {
  .markdown {
    @apply break-words space-y-2;
  }

  .markdown h1 {
    @apply text-4xl font-bold mt-2 mb-5;
  }

  .markdown h2 {
    @apply text-3xl font-bold mt-2 mb-5;
  }

  .markdown h3 {
    @apply text-2xl font-bold mt-2 mb-5;
  }

  .markdown h4 {
    @apply text-xl font-bold;
  }

  .markdown h5 {
    @apply text-lg font-bold ;
  }

  .markdown h6 {
    @apply text-base font-bold ;
  }

  .markdown a {
    @apply text-blue-500 underline;
  }

  .markdown p {
    @apply leading-7;
  }

  .markdown underline {
    @apply underline;
  }

  .markdown ul {
    @apply list-disc ml-8 mb-2;
  }

  .markdown li li {
    list-style-type: circle;
  }

  .markdown li li li {
    list-style-type: square;
  }

  .markdown ol {
    @apply list-decimal ml-8 mb-1;
  }

  .markdown li {
    @apply leading-7 pl-2 marker:font-bold;
  }

  .markdown blockquote {
    @apply border-l-4 border-gray-300 pl-4 pb-4;
  }

  .markdown pre {
    @apply bg-zinc-700 text-white rounded p-4 pb-4;
  }

  .markdown code {
    @apply bg-zinc-700 text-white rounded p-1;
  }

  .markdown table {
    @apply w-full border-collapse border border-gray-300 pb-4;
  }

  .markdown table th {
    @apply bg-gray-100 border border-gray-300 px-4 py-2;
  }

  .markdown table td {
    @apply border border-gray-300 px-4 py-2;
  }

  .markdown table tr:nth-child(even) {
    @apply bg-gray-100;
  }

  .markdown table tr:hover {
    @apply bg-gray-200;
  }

  .markdown img {
    @apply mx-auto mb-4;
  }

  .markdown hr {
    @apply border-neutral-700 border-t my-4;
  }

  .markdown .gatsby-resp-image-wrapper {
    @apply mx-auto mb-4;
  }

  .markdown .gatsby-resp-image-wrapper img {
    @apply mx-auto mb-4;
  }

  .markdown .gatsby-resp-image-wrapper picture {
    @apply mx-auto mb-4;
  }

  .markdown .gatsby-resp-image-wrapper picture img {
    @apply mx-auto mb-4;
  }

  .markdown .gatsby-resp-image-wrapper picture source {
    @apply mx-auto mb-4;
  }

  .markdown .gatsby-resp-image-wrapper picture source img {
    @apply mx-auto mb-4;
  }

  .markdown .gatsby-resp-image-wrapper picture img {
    @apply mx-auto mb-4;
  }
}

.bg-gradient-custom {
  @apply bg-gradient-to-br from-blue-600 to-indigo-900;
}

.blur-20 {
  filter: blur(20px);
}

.box-blur {
  --box-blur-opacity: 0.7;
  position: relative;
}

.box-blur::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @apply bg-gradient-custom blur-20;
  transform: translate3d(0px, 20px, 0) scale(0.95);
  opacity: var(--box-blur-opacity);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.box-blur::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}


#__next {
  min-height: 100%;
  background-color:#161716;
}


html {
  background-color:#0A0A0A;

}


body {
  background-color:#0A0A0A;
  font-family: 'Poppins', sans-serif;
  height: "100%";
}

.typewriter  {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typewriter 4s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typewriter {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.floating { 
  animation-name: floating;
  animation-duration: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
}
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

ul {
  list-style-type: circle;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@layer utilities {
  .animate-slide-in-right {
    animation: slideInRight 1s;
  }

  .animate-slide-in-right3 {
    animation: slideInRight 3s;
  }
}

.root {
  --rt-color-white: #fff;
  --rt-color-dark: #222;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
  --rt-transition-show-delay: 0.10s;
  --rt-transition-closing-delay: 0.10s;
}

.slide-rotate-hor-bottom {
	-webkit-animation: slide-rotate-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: slide-rotate-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

/**
 * ----------------------------------------
 * animation slide-rotate-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0deg);
            transform: translateY(0) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(150px) rotateX(90deg);
            transform: translateY(150px) rotateX(90deg);
  }
}
@keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0deg);
            transform: translateY(0) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(150px) rotateX(90deg);
            transform: translateY(150px) rotateX(90deg);
  }
}
.bogo {
 
  animation: slide-rotate-hor-bottom 3s infinite reverse; /* Adjust '3s' to change duration, 'infinite' for continuous loop */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;

}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
}

.modal-enter {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.modal-enter-active {
  opacity: 1;
}

.modal-exit {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.modal-exit-active {
  opacity: 0;
}

.fastanimate {
  --animate-duration: 0.3s;
}

.spin-on-hover {
  transition: transform 0.5s;
}

.spin-on-hover:hover {
  transform: rotate(360deg);
}


/* tool tip*/

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 0.99;
    text-shadow: -0.2px -0.2px 1px rgba(255, 255, 255, 0.1), 0.2px 0.2px 1px rgba(0, 0, 0, 0.1);
  }
  20%, 24%, 55% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flicker {
  animation: flicker 1.5s infinite;
}

.fade-in {
  animation: fadeIn 0.1s forwards;
}

.fade-out {
  animation: fadeOut 2s forwards;
}
.podium {
  position: relative;
  transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .podium {
    display: none;
  }
  .top-three {
    background-color: var(--color);
  }
}
.podium:hover {
  transform: translateY(-5px);
  height: calc(100% + 200px)
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.meteor-shower {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: rotate(-45deg);
}

.meteor-shower::before,
.meteor-shower::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: 
    radial-gradient(1px 1px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 160px 120px, #ddd, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 200px 20px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 240px 100px, #eee, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 280px 60px, #ddd, rgba(0,0,0,0));
    
  background-repeat: repeat;
  background-size: 400px 400px;
  animation: meteor 10s linear infinite;
  opacity: 0.5;
}

.meteor-shower::after {
  animation-delay: -5s;
  animation-duration: 15s;
}

@keyframes meteor {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50%);
  }
}

.meteor {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  animation: meteor-fall 5s linear infinite;
}

.meteor::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes meteor-fall {
  0% {
    opacity: 1;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(300px, 300px);
  }
}