
@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#__next {
  min-height: 100%;
  background-color:#161716;
}


html {
  background-color:#161716;

}

body {
  background-color:#161716;
  font-family: 'Poppins', sans-serif;
  height: "100%";


}



.floating { 
  animation-name: floating;
  animation-duration: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slideInRight 1s;
}

.animate-slide-in-right3 {
  animation: slideInRight 3s;
}
